body {
    margin: 0px;
}
.header {
    position: relative;
    height: 60px;
    background-color: #94db94;
}
.menu {
    position: relative;
    left: 2%;
    width: 400px;
    display: inline-block;
}
ul.hr {
    margin: 0;
    padding: 20px;
}
ul.hr li {
    display: inline;
    margin-right: 15px;
    padding: 3px;
}
ul.hr li a {
    text-decoration: none;
    color: black;
}
ul.hr li a:visited {
    color: black;
}
.logo {
    float: right;
    width: auto;
    position: relative;
    right: 10%;
    padding: 12px;
    font-size: 20pt;
}
.content {
    margin: 0% 2%;
    height: auto;
}
.content-numbers {
    padding-top: 30px;
    padding-bottom: 15px;
}
.page-numbers {
    display: inline-block;
    border: grey 1px;
    border-color: rgba(0, 0, 0, 0.3);
}
.page-numbers ul {
    margin: 0;
    padding: 10px;
}
.page-numbers ul li {
    display: inline;
    margin: 7px;
}
.page-numbers ul li a {
    text-decoration: none;
    color: grey;
}
.page-numbers ul li a:visited {
    color: grey;
}
.page-numbers ul li a:hover {
    text-decoration: underline;
    color: green;
}
.content-title {
    float: right;
}
.content-headline {
    float: left;
    display: inline-block;
    color: grey;
    padding: 9px;
    border: solid grey 1px;
}
.headlines {
    background-color: #b7dbb7;
    border: none;
}
.headlines ul li a {
    text-decoration: none;
    color: black;
}
.headlines ul li a:visited {
    color: black;
}
.headlines ul li a:hover {
    text-decoration: none;
}
.banners {
    display: block;
    height: 600px;
}
.banner {
    float: left;
    width: 300px;
    margin-right: 2.2%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.banner img {
    width: 300px;
}
.post-not-margin {
    margin-right: 0%;
}
.article {
    word-wrap: break-word;
    padding: 15px;
}
.article-header {
    font-size: 14pt;
    color: grey;
}
.article-header p {
    font-size: 8pt;
    opacity: 0.5;
    margin: 5px 0px;
}

.text-main {
    padding: 15px 0px;
    color: grey;
    opacity: 0.9;
    font-size: 14px;
    line-height: 1.5em;
}
.article-footer {
    padding-top: 10px;
    border-top: dotted grey 1px;
    opacity: 0.5;
}
.comment {
    display: inline-block;
    font-size: 10pt;
    opacity: 0.5;
}
.like {
    float: right;
    color: black;
}
.like span {
    font-size: 14px;
}
.like-red {
    color: red;
}
.slider {
    padding-bottom: 10px;
}
.footer {
    height: 40px;
    background-color: #94db94;
}
.sign {
    width: auto;
    display: inline-block;
    position: relative;
    left: 18%;
    padding: 10px;
    font-size: 10pt;
}
.public {
    float: right;
    width: auto;
    position: relative;
    right: 20%;
    padding-top: 10px;
}
.public img {
    width: 20px;
    height: 20px;
}
